/* 
  CSS styles for Flag Plus admin forms.

  Created on : 01/01/2015, 3:50:45 PM
  Author     : darrenkelly
*/

.flagplus-fieldset {
    padding: 0 1ex;
}

.flagplus-fieldset > legend {
    margin: 0 1ex;
    padding: 0 1ex;
}

.flagplus-wrapper-filter-entitytype {
    padding: 0.25ex 1ex;
    background-color: #ddd;    
    margin-bottom: 1ex;
}

.flagplus-wrapper-filter-entitytype div.form-item {
    padding: 0 0.5ex;    
}

.flagplus-wrapper-filter-entitytypediv.form-item select {
    margin-bottom: 0ex;
}
