/*
 * @file
 * CSS for hiding/showing elements according to JavaScript mode.
 *
 */
 
/*  Hides the entity_type filter button when not degrading to non-javascript browser.
If Drupal AJAX is NOT active and JavaScript is flagplus_ajax.js will show() it.
If JavaScript is not active this will be shown anyway because html.js fails.
*/
html.js .button-filter-entity-type { 
  display: none; 
}

/* 
Hides the AJAX bybundle submit buttons when degrading to non-javascript browser.
If Drupal AJAX and JavaScript are active flagplus_ajax.js will show() it.
*/
html.js .button-bybundle-ajax { 
  display: none; 
}

html .button-bybundle-ajax { 
  display: none; 
}
