/* 
  CSS style for Flag Plus banners.

  Please note that some of these CSS styles will be overridden
  by inline CSS generated from DB stores CSS options per flag.

  Created on : 01/01/2015, 3:50:45 PM
  Author     : darrenkelly
*/

.flagplus-banner {
    border-width: 1px;
    border-style: solid;
    padding: 1px 0.5ex;
    margin-bottom: 2px;
    background: #ddd;
    font-style: italic;
}

.flagplus-banner-flagged {
   background-color: #dfd;
}

.flagplus-banner-flagged-not {
   background-color: #fdd;
}

.block-flagplus {
   background-color: #eee;
}

.block-flagplus-banner-with-title {
    padding: 1px 1px;
    border: 1px solid #999;    
}

.block-flagplus h2 {
    padding: 0;
    margin: 0.5ex;
}

span.flagplus-banner-label {
    font-weight: bold;    
}
